#root {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  height: 100vh;
}

.full-height {
  height: 100%;
}

.App {
  text-align: center;
}

#loading {
  text-align: center;
}

header {
  font-size: 32px;
}

#main-content {
  flex: 1 1 auto;
  overflow: auto;
  /* background-color: #d8d4ce */
  background-color: #efece8;
}

.center {
  text-align: center;
}

.gallery-item {
  width: 100%;
  margin: 20px 0;
  text-align: center;
}

#prediction-gallery {
  margin-bottom: 12px;
}

#prediction-gallery-row {
  height: 80vh;
  overflow: auto;
  margin-top: 8px;
}

.tabs {
  margin-right: 2%;
  margin-bottom: 2%;
  margin-top: 2%;
}

#questions-tab {
  margin-top: 15%;
  margin-bottom: 16px;
}

.simple-player-card {
  min-width: 200px;
  margin-top: 24px;
}

.height-in-percent {
  height: 92%;
}

.input-gap {
  margin: 12px 0;
}

.not-sold-player {
  opacity: 1;
}

.sold-player {
  opacity: 0.5;
}

/* 
.updates-table{
  background-color: #abd6d5;
}

.container-box, .prediction{
  background-color: #efefe6

} */

.jumbotron {
  background-color: #b8d0cf;
}

#navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  background: aliceblue;
  color: blue;
}

#navbar div {
  cursor: pointer;
}
